<h1>Editing queue chat</h1>

<%= render "form", queue_chat: @queue_chat %>

<br>

<div>
  <%= link_to "Show this queue chat", @queue_chat %> |
  <%= link_to "Back to queue chats", queue_chats_path %>
</div>
