<h1>Editing caa webhook log</h1>

<%= render "form", caa_webhook_log: @caa_webhook_log %>

<br>

<div>
  <%= link_to "Show this caa webhook log", @caa_webhook_log %> |
  <%= link_to "Back to caa webhook logs", caa_webhook_logs_path %>
</div>
